@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

body {
  background: #ebe7d2;
  @apply text-black;
}

.tCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.trTable:not(:first-child):nth-child(odd) {
  background: #282828;
}

@keyframes rotate360 {
  to {
    transform: rotate(180deg);
  }
}

.rotate:hover .w-8 {
  animation: rotate360 0.3s ease;
}

.loader {
  border: 4px solid #ffa60065;
  border-left: 4px solid #ffa500;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: spin 1s linear infinite;
  margin: auto;
}

.loader2 {
  border: 4px solid #ececec65;
  border-left: 4px solid #ffffff;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: spin 1s linear infinite;
  margin: auto;
}

.loader3 {
  border: 4px solid #22c55e65;
  border-left: 4px solid #22c55e;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}
.hideScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.displayBlock {
  display: block;
}

/* styles.css or global.css */

@keyframes slideFromLeft {
  from {
    transform: translateX(-110%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(110%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-from-left {
  animation: slideFromLeft 0.7s ease-out forwards;
}

.animate-slide-from-right {
  animation: slideFromRight 0.7s alternate;
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.animateZoomIn {
  animation: zoomIn 0.7s ease;
}

.star {
  display: inline-block;
  position: relative;
  font-size: 100px;
  color: #ddd;
}

.star:after {
  font-family: FontAwesome;
  content: "\f005";
  position: absolute;
  left: 0;
  top: 0;
  width: 60%;
  overflow: hidden;
  color: #f80;
}

.popup {
  animation: slideIn 0.5s, fadeOut 0.5s 2.5s forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
